@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: Arial, Helvetica, sans-serif;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), serif;
}